# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# cache
*.cache

# build
build
dist
dist-ssr
storybook-static

# temp
.temp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
.env
.env.production
.env.development

# tsconfig
tsconfig.*.tsbuildinfo

# test
coverage

# ssh
.ssh
.*-ssh-key
