{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-dom",
    "^react-query",
    "^zustand",
    "^lucide-react",
    "@radix-ui",
    "^@emotion",
    "^@packages",
    "^@nestjs",
    "^@server-rest",
    "^@/api?(s)/(.*)$",
    "^@/page?(s)",
    "^@/route?(s)/(.*)$",
    "^@/component?(s)/(.*)$",
    "^../component?(s)/(.*)$",
    "^@/context?(s)/(.*)$",
    "^../context?(s)/(.*)$",
    "^../../context?(s)/(.*)$",
    "^@/hooks?(s)/(.*)$",
    "^../hooks?(s)/(.*)$",
    "^../../hooks?(s)/(.*)$",
    "^@/type?(s)/(.*)$",
    "^../type?(s)/(.*)$",
    "^../../type?(s)/(.*)$",
    "^@/lib?(s)/(.*)$",
    "^../lib?(s)/(.*)$",
    "^../../lib?(s)/(.*)$",
    "^@/util?(s)/(.*)$",
    "^../util?(s)/(.*)$",
    "^../../util?(s)/(.*)$",
    "^@/*",
    "^./api?(s)/(.*)$",
    "^./page?(s)/(.*)$",
    "^./route?(s)/(.*)$",
    "^./component?(s)/(.*)$",
    "^./module?(s)/(.*)$",
    "^./[a-zA-Z0-9-]*.module",
    "^./controller?(s)/(.*)$",
    "^./[a-zA-Z0-9-]*.controller",
    "^./service?(s)/(.*)$",
    "^./[a-zA-Z0-9-]*.service",
    "^./model?(s)",
    "^./entity",
    "^./entities",
    "^./dto",
    "^./context?(s)/(.*)$",
    "^./hooks?(s)/(.*)$",
    "^./type?(s)/(.*)$",
    "^./lib?(s)",
    "^./lib?(s)/(.*)$",
    "^./util?(s)",
    "^./util?(s)/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
