{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-dom",
    "^react-query",
    "^zustand",
    "^lucide-react",
    "^@packages",
    "^@emotion",
    "^@/api?(s)/(.*)$",
    "^@/page?(s)",
    "^@/route?(s)/(.*)$",
    "^@/component?(s)/(.*)$",
    "^../component?(s)/(.*)$",
    "^@/context?(s)/(.*)$",
    "^../context?(s)/(.*)$",
    "^../../context?(s)/(.*)$",
    "^@/hooks?(s)/(.*)$",
    "^../hooks?(s)/(.*)$",
    "^../../hooks?(s)/(.*)$",
    "^@/type?(s)/(.*)$",
    "^../type?(s)/(.*)$",
    "^../../type?(s)/(.*)$",
    "^@/lib/(.*)$",
    "^../lib/(.*)$",
    "^../../lib/(.*)$",
    "^@/util?(s)/(.*)$",
    "^../util?(s)/(.*)$",
    "^../../util?(s)/(.*)$",
    "^@/*",
    "^./api?(s)/(.*)$",
    "^./page?(s)/(.*)$",
    "^./route?(s)/(.*)$",
    "^./component?(s)/(.*)$",
    "^./context?(s)/(.*)$",
    "^./hooks?(s)/(.*)$",
    "^./type?(s)/(.*)$",
    "^./lib/(.*)$",
    "^./util?(s)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
